<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movipickr!</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="platform-container">
        <h1>Select Your Streaming Platforms</h1>
        <form id="platform-form">
            <!-- Dynamically filled checkboxes will go here -->
            <div id="platform-checkboxes"></div>
            <button type="submit">Show Me a Movie</button>
        </form>
    </div>    

    <div class="movie-container" style="display: none;" id="movie-container">
        <img src="" alt="Movie Poster" class="poster" id="movie-poster">
        <div class="movie-details">
            <button class="get-another" id="next-movie-btn">Get another movie</button>
            <div class="movie-info">
                <h1 class="title" id="movie-title">Title</h1>
                <i><p class="release-date" id="movie-release-date">Release Date</p></i>
                <p class="genres" id="movie-genres">Genres</p>
                <p class="runtime" id="movie-runtime">Runtime</p>
                <p class="stars" id="movie-stars">Stars</p>
                <p class="platforms" id="movie-platforms">Streaming on: Platforms</p><br>
                <p class="overview" id="movie-overview">Overview</p>
            </div>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
